*.class
*.log

# sbt specific
.cache
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDEA specific
.idea/
.iml

# Scala-IDE specific
.scala_dependencies
.worksheet

scm-source.json

# Scala metals
.metals/
.bloop/
project/.bloop/